


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: Almarai;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span{
    color: crimson;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p{
    color: white;
    text-align: right;
    font-size: 1.3rem;
    line-height: 1.9rem;
}

.cat{
    display: inline-block;
    padding: 10px 30px;
    color: crimson;
    font-size: 2rem;
    border: 2px solid crimson;
    text-transform: uppercase;
    background-color: transparent;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: all .4s ease;
}

hr{
    background-color: #f40ab5;
    height: 9px;
}

.cat:hover{
    color: white;
    background-color: crimson;
}

.brand h1{
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
}

.brand h1 span{
    color: crimson;
}

/* Start Header */

#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header{
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
}

#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .4s ease left;
}

#header .nav-list ul.active{
    left: 0;
}

#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    transition: .3s ease color;
}

#header .nav-list ul a:hover{
    color: crimson;
}

#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 10rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .hamburger{
    height: 60px;
    width: 60px;
    display: flex;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    z-index: 100;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(.8);
    margin: 8px 20px;
}

#header .hamburger::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger 1s ease infinite;
}

#header .hamburger .bar{
    height: 2.7px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: .3s ease;
    transition-property: top bottom;
}

#header .hamburger .bar::after{
    top: 8px;
}

#header .hamburger .bar::before{
    bottom: 8px;
}

#header .hamburger.active .bar::before{
    bottom: 0;
}

#header .hamburger.active .bar::after{
    top: 0;
}

/* End Header */

/* Start hero section*/

#hero{
    background-image: url(../image/c2.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    height: 100vh;
}

#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
    transition: all 1s ease-in-out;
}
#hero:hover::after
{
    opacity: .3;
}
#hero .hero{
    max-width: 1200px;
    min-height: 100% !important;    
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
    align-items: center;
}

#hero .hero .hero-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 52vh;
}

/* #hero h1{
    display: block;
    width: 100%;
    font-size: 3rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
} */
#hero h1{
    display: block;
    width: 100%;
    font-size: 3rem;
    position: relative;
    color: white;
    
}
#hero h1 span{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: crimson;
    animation: text_reveal_box 2s ease;
}

#hero p{
    width: 78%;
    text-align: left;
}

#hero a{
    font-size: 2.5rem;
    letter-spacing: 0rem;

}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal_name{
    100%{
        color: white;
    }
}

#home .home{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
    align-items: center;
    justify-content: flex-start;
    min-height: 48vh;
}

#home{
    background-color: #dadada;
}

#home .col-top{
    width: 56%;
    margin-top: 30px;
    height: 312px;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    right: 19%;
    padding: 65px;
}

#home .col-top .top-img{
    background-color: white;
}

#home .col-top .top-img img{
    position: absolute;
    left: 82%;
    top: 9%;
    height: 81%;
    width: 41%;
    border-radius: 55%;
    border: 2px solid #615959;
    transition: all .5s ease-in-out;
}
#home .col-top .top-img img:hover{
    filter: grayscale(1);
}

#home .col-top .top-prog{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home .col-top .top-prog h1{
    color: rgb(121, 120, 120);
    text-align: left;
    text-transform: uppercase;
    line-height: 3.1;
    letter-spacing: 12px;
}

#home .col-top .top-prog p{
    text-align: left;
    color: black;
    width: 90%;
}

#home .col-botton{
    width: 100%;
    margin: 61px auto;
}

#home .col-botton h1{
    font-weight: bold;
    text-align: center;
}

#home .col-botton p{
    width: 100%;
    color: rgb(58, 54, 54);
    text-align: center;
    margin-bottom: 20px;
}

#home .col-botton a{
    font-weight: bold;
    letter-spacing: 0rem;
}



/* End hero section*/
/* Start gallery Section */

 

#gallery .gallery{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

 

#gallery p{
    color: rgb(128, 125, 125);
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 1;
    letter-spacing: .05rem;
    text-align: center;
}

#gallery .gallery-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#gallery .gallery-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
    flex-direction: row-reverse;
    margin: 10px 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#gallery .gallery-item a::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #4e6a88 0%, #485563 100%);
    opacity: 0;
    z-index: 1;
    transition: all .8s ease-in-out;
}

#gallery .gallery-item a:hover::after{
    opacity: .5;
}
#gallery .gallery-item a,
#gallery .gallery-item .icon{
    height: 100%;
    width: 100%;
}

#gallery .gallery-button .gallery-item .icon img{
    transition: all .8s ease-in-out;
}

#gallery .gallery-button .gallery-item:hover .icon img{
    /* transform: translateY(-36%); */
}

#gallery .gallery-item .contaxt{
    position: absolute;
    bottom: -40%;
    right: 0%;
    height: 40%;
    background-color: #021d23;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all .8s ease-in-out;
    padding: 20px;
}
/* 
#gallery .gallery-item:hover .contaxt{
    bottom: 0%;
} */

#gallery .gallery-item .contaxt h1{
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
    color: #e0dcdc;
}

#gallery .gallery-item .contaxt p{
    width: 100%;
    text-align: left;
    color: #e0dcdc;
}

@media(min-width:768px){

}

/* End gallery Section */
/* Start Services Section */

#services{
    background-color: white;
}
#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#services .col-top{
    width: 100%;
    margin-top: 30px;
    display: flex;
    position: relative;
    padding: 39px;
}

#services .col-top .top-img{
    background-color: white;
}

#services .col-top .top-img img{
    position: absolute;
    left: 87%;
    top: 9%;
    height: 81%;
    width: 41%;
    border-radius: 55%;
    border: 7px solid #ffffff00;
    filter: grayscale(1);
    box-shadow: 0px 0px 0px 7px white;
}

#services .col-top .top-prog{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -75px;
}

#services .col-top .top-prog h1,
.gallery-top h1{
    color: crimson;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 33px;
}

#services .col-top .top-prog p{
    text-align: center;
    color: black;
    margin-top: 10px;
    font-size: 15px;
}

#services .col-botton{
    width: 100%;
    margin: 61px auto;
}

#services .col-botton h1{
    font-weight: bold;
    text-align: center;
}

#services .col-botton p{
    width: 100%;
    color: rgb(58, 54, 54);
    text-align: center;
    margin-bottom: 20px;
}

#services .col-botton a{
    font-weight: bold;
    letter-spacing: 0rem;
}

#services .snapshot{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#services .snapshot .snapshot-info{
    background-color: #d2d2d2;
    border-radius: 10%;
    padding: 34px;
    margin: auto 24px;
    width: 20%;
    height: 305px;
    transition: background-color .7s ease-in-out;
    position: relative;

}

#services .snapshot .snapshot-info img{
    max-height: 214px;
    width: 56%;
    height: 96px;
    border-radius: 50%;
    margin-bottom: 18px;
    margin-top: 10px;
}
#services .snapshot .snapshot-info .imge{
    max-height: 214px;
    width: 46%;
    height: 96px;
    border-radius: 16%;
    margin-bottom: 18px;
    margin-top: 10px;
    background-color: white;
}

#services .snapshot .snapshot-info h2{
    color: #F00;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#services .snapshot .snapshot-info p{
    color: black;
    text-align: center;
    transition: all .7s ease-in-out;
    
}
#services .snapshot .snapshot-info span{
    color: white;
    position: absolute;
    top: -15px;
    z-index: 1;
    background-color: #1c424b;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 19px;
    left: 39%;
    
}

/* End About Section */

/* End Services Section */

/* Start Projects Section */

#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .project-header h1{
    margin-bottom: 50px;
    font-size: 3rem;
    letter-spacing: 0rem;
    font-weight: bold;
}

#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#projects .project-info h1{
    font-size: 3rem;
    font-weight: 500;
}

#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#projects .project-info h2 span{
    color: crimson;
    letter-spacing: 0px;
    font-size: 18px;
}

#projects .project-info p{
    font-weight: 500;
    color: rgb(197, 189, 189);
    margin-top: 3px;
    text-align: left;
    margin-left: 10px;
}

#projects .project-info .cont-down{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    height: 100%;
}
#projects .project-info .cont-down .cat{
    font-size: 16px;
}

#projects .project-img{
    overflow: hidden;
    position: relative;
}

#projects .project-img::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .7;
}

#projects .project-img img{
    transition: .3s ease transform;
}

#projects .project-item:hover .project-img img{
    transform: scale(1.1);
}

/* End Projects Section */

/* Start About Section */

/* Start About Section */
#about{
    background-color: #b7b7b7;
}
#about .about{
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-top{
    width: 56%;
    margin-top: 30px;
    height: 312px;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    right: 19%;
    padding: 65px;
}

#about .col-top .top-img{
    background-color: white;
}

#about .col-top .top-img img{
    position: absolute;
    left: 87%;
    top: 9%;
    height: 81%;
    width: 41%;
    border-radius: 55%;
    border: 7px solid #ffffff00;
    filter: grayscale(1);
    box-shadow: 0px 0px 0px 7px white;
}

#about .col-top .top-prog{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about .col-top .top-prog h1{
    color: rgb(121, 120, 120);
    text-align: left;
    text-transform: uppercase;
    line-height: 3.1;
    letter-spacing: 12px;
}

#about .col-top .top-prog p{
    text-align: left;
    color: #9b9797;
    width: 94%;
}

#about .col-botton{
    width: 100%;
    margin: 61px auto;
}

#about .col-botton h1{
    font-weight: bold;
    text-align: center;
}

#about .col-botton p{
    width: 100%;
    color: rgb(58, 54, 54);
    text-align: center;
    margin-bottom: 20px;
}

#about .col-botton a{
    font-weight: bold;
    letter-spacing: 0rem;
}

#about .snapshot{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#about .snapshot .snapshot-info{
    background-color: white;
    padding: 34px;
    margin: auto 24px;
    width: 28.33%;
    height: 297px;
    transition: background-color .7s ease-in-out;
    overflow: hidden;
}

#about .snapshot .snapshot-info:hover{
    background-color: #021d23;
    overflow: unset;
}

#about .snapshot .snapshot-info img{
    max-height: 214px;
    width: 83%;
    border-radius: 50%;
    filter: grayscale(1);
    margin-bottom: 18px;
    transition: all .7s ease-in-out;
}

#about .snapshot .snapshot-info:hover img{
    margin-top: -97px;
}

#about .snapshot .snapshot-info h2{
    color: #F00;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#about .snapshot .snapshot-info p{
    color: #000;
    text-align: center;
    transition: all .7s ease-in-out;
    
}

/* End About Section */

/* Start Contact Section */

#cont{
    background-color: #002b35e3;
}

#cont .cont{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

#cont .contact-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 22px;
    align-items: center;
    justify-content: center;
}

#cont .contact-header h1{
    margin-bottom: 10px;
    color: #FFF;
}

#cont .contact-header p{
    margin-bottom: 10px;
    color: #FFF;
    width: 100%;
    text-align: center;
}

#cont .contact-header form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cont .contact-header .control-info{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
}

#cont .contact-header .control-info input,
#cont .contact-header .control-message{
    background-color: transparent;
    border-radius: 3%;
    border: 1px solid #aba5a5;
}
#cont .contact-header .control-info input:hover,
#cont .contact-header .control-message:hover{
    border: 1px solid #e41d1d;
}

#cont .contact-header .control-info input{
    width: 38%;
    padding: 15px;
    margin: auto 7px;
}
#cont .contact-header textarea.control-message{
    width: 76%;
    height: 150px;
    padding: 11px;
}
::-webkit-input-placeholder{
    color: rgb(172, 171, 171);
}
:-ms-input-placeholder{
    color: rgb(172, 171, 171);
}
::-moz-placeholder{
    color: rgb(172, 171, 171);
}
:-ms-placeholder{
    color: rgb(172, 171, 171);
}
#cont .contact-header .control-submit{
    margin-top: 10px;
    padding: 16px;
    background-color: #960303;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#cont .site{
    position: absolute;
    width: 98vw;
    left: 0;
    top: 50%;
    height: 100vh;
    z-index: -1;
}
 
/* Start Contact Section */

#contact{
    background-color: #1c424b;
    height: 60vh;
}
#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 60vh;

}

#contact .contact-header h1{
    margin-bottom: 60px;
    font-weight: bold;
    letter-spacing: 0rem;
}

#contact .contact-items{
    width: 100%;
    height: 100%;
}

#contact .contact-item{
    max-width: 80%;
    height: 250px;
    text-align: center;
    padding: 30px;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 20px 0px #0000002c;
    transition: box-shadow .5s ease;
    border: 2px solid white;
    background-color: white;
}

#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0px #0000002c;
}

#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 3px;
}
#contact .photo{
    width: 51%;
    margin: 0 auto;
    margin-bottom: 3px;
}

#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
    color: black;
}

#contact .contact-info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
    color: black;
}
/* End Contact Section */
/* End Contact Section */
/* Start Footer */

/* #footer{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer{
    min-height: 200px;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 10px;
}

#footer .footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    margin: 10px 0;
    letter-spacing: .1rem;
}

#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item{
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .social-item img{
    filter: grayscale(1);
}

#footer .social-item:hover img{
    filter: grayscale(0);
} */

#footer{
    background-image: linear-gradient(60deg, #044b56 0%, #7d7d7d 100%);   
    margin-bottom: 0;
}

#footer .footer{
    min-height: 200px;
    flex-direction: row;

}

#footer .footer h2{
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 1.8rem;
    margin: 10px 0;
    letter-spacing: .1rem;
}

#footer .social-icon{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#footer .social-item{
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 1px solid #b3b1b1;
    padding: 30px 23px;
    justify-content: flex-start;
    align-items: center;
}

#footer .social-item:last-child{
    text-align: left;
    padding: 30px;
}

#footer .social-item:last-child h1{
    text-align: left;
    padding: 0 30px;
}
#footer .social-item:last-child p{
    text-align: left;
    padding: 0 30px;
    width: 100%;
}

#footer .social-item h1{
    margin-bottom: 30px;
}
#footer .social-item p{
    margin-bottom: 30px;
}

#footer .social-item form{
    padding: 0 30px;
}

#footer .social-item .search{
    padding: 10px;
    border: 1px solid #908d8d;
    border-radius: 5%;
}
#footer .social-item .search:hover{
    border: 1px solid #e61717;
}
#footer .social-item .submit{
    padding: 11px 18px;
    border: none;
    border-radius: 8%;
    background-color: #021d23;
    color: white;
    margin: 10px 0;
}

/* End Footer */
@media(max-width: 767px){
    #hero .hero{
        padding: 10px;
    }
    #hero h1{
        font-size: 2rem;
    }

    #hero p{
        width: 100%;
        text-align: left;
        margin: 10px 0;
    }

    #about .about{
        padding: 23px 20px;
    }

    #about .col-top{
        width: 100%;
        margin-top: 10px;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        position: relative;
        right: auto;
        padding: 26px;
    }

    #about .col-top .top-img img{
        position: relative;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
    }

    #about .snapshot .snapshot-info{
        width: 100%;
        margin-bottom: 17px;
        padding: 15px;
        height: 200px;
    }

    #about .snapshot .snapshot-info:hover img{
        margin-top: -87px;
    }

    #services .services{
        padding: 20px;
    }

    #services .col-top{
        padding: 0;
    }

    #services .col-top .top-prog{
        margin: 0;
    }

    #services .col-top .top-prog h1,
    .gallery-top h1{
        letter-spacing: 1px;
        font-size: 14px;
    }

    #services .col-top .top-prog p{
        margin: 10px 0;
    }
    #services .snapshot .snapshot-info{
        width: 100%;
        margin: 10px 0;
    }

    #cont .contact-header .control-submit{
        width: auto;
    }
    #footer .social-item{
        width: 100%;
    }
}
/* Start @keyframes */

@keyframes hamburger{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.4);
    }
}

/* @keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: crimson;
        font-weight: bold;
    }
} */

/* End @keyframes */

/* Start Media Query For Tablet */

@media only screen and (min-width:768px){
    .cat{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title{
        font-size: 6rem;
    }
    /* Start Hero */
    #hero h1{
        font-size: 4rem;
    }
    /* End Hero */
    /* Start gallery */
    #gallery .gallery-button .gallery-item{
        flex-basis: 45%;
        margin: 1.5%;
    }
    #gallery .gallery p{
        width: 75%;
        margin: 0 auto;
        font-size: 2rem;
    }
    #gallery .gallery-item p{
        width: 100%;
        text-align: right;
        font-size: 1.5rem;
    }
    /* End gallery */
    /* Start Project */
    #projects .project-item{
        flex-direction: row;
    }
    #projects .project-item:nth-child(even){
        flex-direction: row-reverse;
    }
    #projects .project-item{
        height: 400px;
        width: 100%;
        margin: 0;
        border-radius: 0;
        display: flex;
        flex-direction: row-reverse;
    }
    #projects .all-projects .project-info{
        height: 100%;
    }
    #projects .all-projects .project-img{
        height: 100%;
        width: 50%;
    }
    /* End Project */
   /* Start About */
    
    #about .col-left{
        width: 600px;
        height: 400px;
        margin-left: 60px;
    }
    #about .col-left .about-img::after{
        left: -45px;
        top: 34px;
        width: 98%;
        height: 98%;
        border: 10px solid crimson;
    }
    #about .col-right{
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1,
    #about .col-right p{
        text-align: left;
    }
    #about .col-right a{
        font-size: 1.9rem;
        text-align: left;
    }
     
    #services .col-left{
        width: 600px;
        height: 400px;
        margin-left: 60px;
    }
    #services .col-left .about-img::after{
        left: -45px;
        top: 34px;
        width: 98%;
        height: 98%;
        border: 10px solid rgb(33, 228, 36);
    }
    #services .col-right{
        text-align: left;
        padding: 30px;
    }
    #services .col-right h1,
    #services .col-right p{
        text-align: left;
    }
    #services .col-right a{
        font-size: 1.9rem;
        text-align: left;
    }
    /* End services */
    /* Start Contact */
    #contact .contact{
        padding: 0;
    }
    #contact .contact-items{
        display: flex;
        max-width: 100%;
        flex-direction: row;
        padding: 20px;
    }
    #contact .contact-item{
        margin:10px;
        width: 40%;
    }
    /* End Contact */
}
@media (min-width:992px){

    #gallery .gallery-button .gallery-item{
        flex-basis: 28%;
        height: 300px;
        margin: 1.5%;
    }
}
@media (min-width:1200px){
    #header .hamburger{
        display: none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li{
        display: inline-block;
    }
    #header .nav-list ul a{
        font-size: 1.8rem;
    }
    #header .nav-list ul a::after{
        display: none;
    }

    #gallery .gallery-button .gallery-item{
        flex-basis: 28%;
        height: 300px;
        margin: 1.5%;
    }
}
/* End Media Query For Tablet */
/* THANKS GOOD AND FOREVER  */
/* ENG : SHAIF UCVI  */



